.button-container {
    flex: 1 1 auto;
    margin: auto;
    font-size: var(--button-text-size);
    border-radius: 50%;
    max-width: 100px;
    height: 100px;
    transition: 0.5s;
}

.start {
  background-color: #17a69d;
}

.stop {
  background-color: #fb647f;
}

.reset {
  background-color: #4387d0;
}

.button-container:hover {
  background-color: black;
}

.button {
  display: flex;
  flex-direction: row;
}

.button-value {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.button-container:hover {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .button-value {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .button-value {
    margin-top: 18px;
  }
}

@media screen and (max-width: 500px) {
	.button-container {
    height: 85px;
    max-width: 85px;
    font-size: 2em;
	}
}

@media screen and (max-width: 370px) {
	.button-container {
    height: 65px;
    max-width: 65px;
    font-size: 1.8em;
  }
  .button-value {
    margin-top: 10px;
  }
}