.timer-container {
	background-color: #ecf3fc;
	border: var(--timer-border);
	height: var(--timer-height);
	width: var(--timer-width);
	display: flex;
	flex-direction: column;
}

.time-display {
	font-size: 120px;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 0;
	color: #1525e4;
}

.time {
	margin-top: -60px;
	color: black;
}

.timer-button-container {
	margin-top: 10px;
}

@media screen and (max-width: 500px) {
	.time-display {
		font-size: 90px;
	}
}

@media screen and (max-width: 370px) {
	.time-display {
		font-size: 80px;
	}
}